
obj/Debug/net6.0/1_2_homework.GlobalUsings.g.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ref/test_console.dll
obj/Debug/net6.0/refint/test_console.dll
obj/Debug/net6.0/test_console.AssemblyInfo.cs
obj/Debug/net6.0/test_console.AssemblyInfoInputs.cache
obj/Debug/net6.0/test_console.assets.cache
obj/Debug/net6.0/test_console.csproj.AssemblyReference.cache
obj/Debug/net6.0/test_console.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/test_console.csproj.FileListAbsolute.txt
obj/Debug/net6.0/test_console.dll
obj/Debug/net6.0/test_console.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/test_console.genruntimeconfig.cache
obj/Debug/net6.0/test_console.GlobalUsings.g.cs
obj/Debug/net6.0/test_console.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/test_console.csproj.nuget.dgspec.json
obj/test_console.csproj.nuget.g.props
obj/test_console.csproj.nuget.g.targets
obj/1_2_homework.csproj.nuget.dgspec.json
obj/1_2_homework.csproj.nuget.g.props
obj/1_2_homework.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/1_2_homework.AssemblyInfo.cs
obj/Debug/net6.0/1_2_homework.AssemblyInfoInputs.cache
obj/Debug/net6.0/1_2_homework.assets.cache
obj/Debug/net6.0/1_2_homework.csproj.AssemblyReference.cache
obj/Debug/net6.0/1_2_homework.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net6.0/test_console
bin/Debug/net6.0/test_console.deps.json
bin/Debug/net6.0/test_console.dll
bin/Debug/net6.0/test_console.pdb
bin/Debug/net6.0/test_console.runtimeconfig.json
